.main {
    width: min(1110px, 100%);
    margin-inline: auto;
}

.section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
    & h3 {
        font-weight: 500;
        font-size: 25px;
        line-height: 140%;
        letter-spacing: 0.02em;
        margin-bottom: 46px;
    }
    & img {
        width: min(442px, 100%);
        height: min(547px, 100%);
    }
    & article {
        width: min(542px, 100%);
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    & p {
        font-weight: 500;
        font-size: 17px;
        line-height: 140%;
        letter-spacing: 0.02em;
        margin-bottom: 15px;
    }
}

.btnContainer {
    width: 260px;
    margin-inline: auto;
}

@media(max-width:1110px){
    .main {
        padding: 0 10px;
    }
    .section {
        margin-top: 120px;
    }
}

@media(max-width:1020px){
    .main {
        margin-top: 100px;
    }
    .section {
        gap: 10px;
    }
}

@media(max-width:767px){
    .main {
        margin-top: 50px;
        & section {
            flex-direction: column-reverse;
            align-items: center;
            margin-bottom: 75px;
            & img {
                width: min(767px, 100%);
                height: min(547px, 100%);
            }
        }
        & section:last-of-type {
            flex-direction: column;
            margin-bottom: 75px;
        }
    }
    .section {
        & img {
            width: min(767px, 100%);
            height: min(547px, 100%);
        }
        & article {
            width: min(767px, 100%);
        }
    }
}