.main {
    width: min(1110px, 100%);
    margin-inline: auto;
}

.productsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 65px 30px;
    margin-bottom: 65px;
}

@media(max-width:1110px){
    .main {
        padding: 0 10px;
    }
}

@media(max-width:767px){
    .productsContainer {
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px 20px;
        margin-bottom: 40px;
    }
}

@media(max-width:479px){
    .productsContainer {
        grid-template-columns: 1fr;
        grid-gap: 20px 0;
        margin-bottom: 20px;
    }
}