.wrapper {
    background: #F1EADC;
}

.main {
    width: min(1110px, 100%);
    margin-inline: auto;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.leftSide {
    display: flex;
    gap: 20%;
    & div {
        width: 204px;
    }
}

.generalInfo {
    margin-top: 73px;
    & p {
        font-size: 13px;
        line-height: 200%;
        letter-spacing: 0.02em;
    }
}

.shop {
    display: flex;
    flex-direction: column;
    & p {
        margin-bottom: 39px;
    }
    & span {
        font-size: 13px;
        line-height: 200%;
        letter-spacing: 0.02em;
    }
}

.telephone {
    text-align: right;
    margin-bottom: 9px;
}

.email {
    text-align: right;
    margin-bottom: 30px;
}

.socials {
    text-align: right;
    margin-bottom: 30px;
    & img {
        margin-left: 12px;
        width: 22px;
        height: 22px;
    }
}

.visa {
    text-align: right;
}

@media(max-width:1110px){
	.main {
		padding: 95px 10px;
	}
}

@media(max-width:1000px){
    .main {
		padding: 90px 10px;
	}
    .leftSide {
        gap: 15%;
    }
}

@media(max-width:950px){
    .leftSide {
        gap: 5%;
    }
}

@media(max-width:900px){
    .leftSide {
        gap: 55%;
    }
}

@media(max-width:767px){
	.main {
		padding: 80px 10px;
	}
    .leftSide {
        gap: 35%;
    }
}

@media(max-width:600px){
	.main {
		padding: 60px 10px 30px;
	}
    .leftSide {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }
    .leftSide div {
        width: 137px;
    }
    .generalInfo {
        display: none;
    }
}