.breadCrumbs {
    margin: min(215px, 25%) 0 min(250px, 23%) 3px;
    & h1 {
        margin: 0 0 26px 3px;
        font-weight: 500;
        font-size: 55px;
        line-height: 110%;
        letter-spacing: 0.02em;
    }
}

.path {
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    & span {
        color: #6b6b6b;
    }
}

@media(max-width:767px){
    .breadCrumbs {
        & h1 {
            font-size: 45px;
        }
    }
}

@media(max-width:479px){
    .breadCrumbs {
        & h1 {
            font-size: 35px;
        }
    }
}

@media(max-width:359px){
    .breadCrumbs {
        & h1 {
            font-size: 30px;
        }
    }
}